@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
header,
footer {
  font-family: "Domine", serif;
}
body {
  width: 100%;
  font-family: "Audiowide", sans-serif;
}

/* START Trade page code ^_^ */

.tradeMain {
  margin: auto;
}

.tradeChart {
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(70, 69, 69);
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

/* coin image */
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}
.tradeCoinImgLarge {
  animation: spin 5s ease;
  animation-iteration-count: infinite;
  width: fit-content;
}

.tardeCoinLargeImgContainer {
  perspective: 20%;
  width: 20%;
}

.tradeCoinData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.tradeTableCoinData {
  width: 100%;
}

.tradeTableCoinData {
  border-collapse: collapse;
  border-spacing: 0;
  float: right;
}

/* coin data table */
.tradeTableContainer {
  width: 100%;
  margin-left: 1%;
}

.tradeTableCoinData {
  margin: 3% 0;
  width: 95%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: table;
}

.tradeRow {
  display: table-row;
  background: #f6f6f6;
}
.tradeRow.tradeHeader {
  font-weight: bold;
  color: #ffffff;
  background: rgb(70, 69, 69);
  text-shadow: 1px 1px black;
}
.tradeRow.tradeHeader:hover {
  background: gray;
}
.tradeCell {
  display: table-Cell;
  padding: 20px 10px;
}
@media screen and (max-width: 900px) {
  .tardeCoinLargeImgContainer {
    perspective: 30%;
    width: 30%;
  }
  .tradeTableCoinData {
    display: block;
  }

  .tradeTableContainer {
    width: 70%;
    margin-left: 1%;
  }
  .tradeRow {
    padding: 14px;
    display: block;
  }
  .tradeRow.tradeHeader {
    padding: 0;
    height: 6px;
  }
  .tradeRow.tradeHeader .tradeCell {
    display: none;
  }
  .tradeRow .tradeCell {
    margin-bottom: 10px;
  }
  .tradeRow .tradeCell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    display: block;
  }
  .tradeCell {
    padding: 2px 16px;
    display: block;
    text-align: left !important;
  }
}

/* exchange And buy&sell forms */
.tradeExchangeAndForms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
}

/* test */

.tradeBuyAndSellAndBtns {
  width: 45%;
  max-width: 50%;
  background: #f6f6f6;
  margin-bottom: 3%;
  margin-right: 1%;
  padding: 3%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  min-height: max-content;
  margin: auto;
}

.exchange {
  width: 45%;
  max-width: 50%;
  min-height: fit-content;
  background: #f6f6f6;
  margin: auto;
  margin-left: 1%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 13px;
}

.tradeExchangeAndForms input {
  height: 66px;
  width: 217px;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  margin: 3% 0 15px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.tradeExchangeAndForms button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(70, 69, 69);
  width: 45%;
  border: 0;
  padding: 10px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 3%;
}

.tradeExchangeAndForms .submit {
  width: 90%;
  margin-bottom: 0;
}

.tradeExchangeAndForms button:hover,
.tradeExchangeAndForms button:active,
.tradeExchangeAndForms button:focus {
  background: gray;
}

/* -- Animated hrs -- */

.tradeProgress,
.tradeProgressOpposit {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 100%;
  background: rgba(1, 15, 30, 0.1);
  height: 1px;
  overflow: hidden;
  position: relative;
}

.tradeProgress::before {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: tradeProgress;
  background: #111;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 80px;
}

@keyframes tradeProgress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1440px);
  }
}

.tradeProgressOpposit::before {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: tradeProgressOpposit;
  background: #111;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 80px;
}

@keyframes tradeProgressOpposit {
  100% {
    transform: translateX(0px);
  }
  0% {
    transform: translateX(1440px);
  }
}
/* END Trade page code*/

/* START register page code*/
.regFormContainer form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  width: 40%;
  margin: 100px auto 100px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.regFormContainer input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

}

.regFormContainer input:last-child  {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color:#ffffff;
  font-size: 14px;
  cursor: pointer;
  background: rgb(70, 69, 69);

}

.regFormContainer label{
  padding: 10px;

}

.regFormContainer button:hover{
  background-color: rgb(70, 69, 69);
}

.reg{
  font-size: x-large;
  margin-bottom: 10px;
  text-align: center;
}
/* START register page code*/
