
@media  (min-width: 767px){
   /* header */
   header{
       position: sticky;
       width: 100%;
       top:0;
       z-index: 1;     
      
   }

   header nav{
       width: 100%;
       display: flex;
       flex-direction:row;
       justify-content: space-between;
       padding-top: 10px;
       padding-bottom: 10px;

   }
   .logo img{
       margin-left: 15px;
       width: 70px;
       height: 70px;
   }
   .logo{
       display: flex;
       flex-direction:row;
       justify-content: center; 
       align-items: center;
       
   }
   .title{
    display: flex;
    flex-direction:row;
    justify-content: center; 
    align-items: center;
    text-align: center;
    
    

   }

   .title h1{
    text-align: center;
       font-size: 40px;
       font-weight: bolder;
       font-family: 'Caveat', cursive;
   }
       
 
 .hmw{
     display: flex;
       flex-direction:row;
       justify-content: space-between; 
       margin-left: 15px;
 }
 .rl{
        display: flex;
       flex-direction:row;
       align-items: center;
       justify-content:flex-end;  
       margin-right: 15px; 
       width: 370px;
       text-align: right;
      
 }
 header li{
     padding: 3px 15px;
 }
 .custom-shape-divider-top-1620739521 {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -10;  
    
}

.custom-shape-divider-top-1620739521 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}


 /* footer */

 footer{
     display: flex;
     flex-direction: column;
     
     width: 100%;  
     font-size: 12px;
      
     bottom: 0;
     
    
 }
 footer p{
    font-size: 14px;

 }
 .upperFotter{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 15px;  
     z-index: 1;
      
     
 }

 .subDiscription{
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 .subDiscription img{
     margin-right: 10px;
 }
 .fr{

   font-size: 14px;
     
 }

 main{
    min-height: calc(100vh - 230px);
    width: 80%;
    margin: auto;
    

 }
 .ad{
    display: flex;
    width: 656px;
    justify-content: flex-end;
    text-align: right;
}

.rac{
    padding-right: 15px;
    font-size: 14px;
}

.rac a{
    
    padding-right: 15px;
}
.fit{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.contact h3{
    font-size: 14px;
    margin-right: 25px;
}

.fit img{
    margin: 0px 5px;
}


.fit img:hover{
    transform: scale(2);
}

/* main homepage */

.mainimg{

    width: 100%;
    height: 350px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    
    

}

.mainimg h1{

    font-family: 'Cairo', sans-serif;
    letter-spacing: 3px;

    margin-bottom:50px ;
    padding: 10px;
}

/* market table and home table */







.mainCoins{
    margin-bottom: 30px;
    margin-top: 40px;

}

.coins_table{
    width: 80%;
    margin: auto;
    text-align: center;
    
}


.table_header{
    background-color: rgb(70, 69, 69);
    height: 40px;
    color: white;
    line-height: 40px;
    border: 5px solid;

    border-color: #bdc3c7;  /* fallback for old browsers */
    border-color: -webkit-linear-gradient(to top, #a0a3a7, white);  /* Chrome 10-25, Safari 5.1-6 */
    border-color: linear-gradient(to top, #a0a3a7, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    
    
}

.table_data{
    height: 40px;
    line-height: 40px;
    background-color: white;
  vertical-align: middle;
    border: 5px solid;

    border-color: #bdc3c7;  /* fallback for old browsers */
    border-color: -webkit-linear-gradient(to top, #a0a3a7, white);  /* Chrome 10-25, Safari 5.1-6 */
    border-color: linear-gradient(to top, #a0a3a7, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    

}
.table_data td{
      vertical-align: middle;
}
.table_data a{
    color: black;
    font-weight: bold;

}

.table_data a:hover{
    color: #7b10b0;
    font-weight: bold;
}


/* news */

.mainNews{
    line-height: 25px;
    width: 75%;
    margin: auto;
    margin-top: 20px;
}
.mainNews h2{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    color: #CCEEFF;
    margin-bottom: 20px;
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    box-shadow: 0 0 5px 0.2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px #7DA5F6;
}

.mainNews h2 img{
    margin-right: 5px;
}

.firstNews{
    display: flex;
    justify-content: space-between;
}

.firstNews li{
    width: 24%;
    height: 100px;

}

.restNews{
    display: flex;
    justify-content: space-between;
}

.restNews li{
    width: 24%;
    height: 100px;
}

.mainNews li:hover{
    background: gray;
}
    


/* .mainNews a:hover{
    color: #7b10b0;
} */

.mainNews li{
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0  0 5px 0.2px black;

    text-align: left;
    margin-bottom: 10px;
    padding-left: 5px;
}

.mainNews li a:hover{

    color: #CCEEFF;
    text-shadow: 2px 2px #7DA5F6;

}

.mainNews li a{

    margin-left: 10px;

    color:#7DA5F6;

}

#newButton{
    background-color: rgb(70, 69, 69);
    color: white;
    position: relative;
    left: 20px;
    /* height: 25px; */
   
  width: 136px;
  border-radius: 5px;
  font-size: small;
  padding-top: 8px;
  padding-bottom: 8px;
}

#newButton:hover{
    background: #7b10b0;
    cursor: pointer;
}
#LessButton:hover{
    background: #7b10b0;
    cursor: pointer;

}

#LessButton{
    background-color: rgb(70, 69, 69);
    color: white;
    position: relative;
    left: 20px;
    width: 136px;
  border-radius: 5px;
  font-size: small;
  padding-top: 8px;
  padding-bottom: 8px;
}
.marketPage{
     display: flex;
     flex-direction:row;
     margin: auto;
     margin-top: 15px;
     margin-bottom: 15px;
     justify-content:space-between;
     width: 75%;
      
     
}
.previousPage2{
    display: flex;
    background-color: rgb(70, 69, 69);
  color:white;
  /* padding: 2px 6px 2px 6px; */
  border: 1px solid rgb(70, 69, 69);
  border-radius: 5px;
  width: 136px;
padding-top: 8px;
padding-bottom: 8px;
  font-size: small;
 justify-content: center;
  

}

.nextPage{
   display: flex;
   width: 90px;
  background-color: rgb(70, 69, 69);
  color:white;
  border: 1px solid rgb(70, 69, 69);
  border-radius: 5px;
  width: 136px;
padding-top: 8px;
padding-bottom: 8px;
  font-size: small;
 justify-content: center;

   
}
.marketPage a:hover{
    background: #7b10b0;
}


/* profile */

.profileh1{
    width: 45%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: large;
    color: white;
    background: rgb(70, 69, 69);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0  0 5px 0.2px black;

}

.info{
    width: 45%;
    margin: auto;
    text-align: center;  
    background: rgb(70, 69, 69);
    padding-top: 1px;
    padding-bottom: 6px;
    border-radius: 5px;
    box-shadow: 0  0 5px 0.2px black;

}

.info h2{
    
    background: white;
    width: 97%;
    margin: auto;
    margin-top: 5px;
    font-size: small;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info h2:hover{
    background-color: gray;
    color: white;

}

.updatebtn{
    margin: auto;
    text-align: center;
    margin-top: 15px;
    
   
}

.updatebtn button{
    background-color: rgb(70, 69, 69);
    color: white;
    border-radius: 5px;
    font-size: small;
    padding-top: 8px;
    padding-bottom: 8px;
}

.deletebtn{
    margin: auto;
    text-align: center;
    margin-top: 15px;
   
}

.deletebtn button{
    background-color: rgb(70, 69, 69);
    color: white;
    border-radius: 5px;
    font-size: small;
    padding-top: 8px;
    padding-bottom:8px;
}

.profileimg{
    width: 35%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.profileimg img{
    width: 110px;
    height: 110px;
}

.btn{
    display: flex;
    width: 35%;
    margin: auto;
}

.btn button:hover{
    background: #7b10b0;
    cursor: pointer;
    
}

#updateForm{

    width: 20%;
    margin: auto;
    margin-top: 15px;
    /* background-color:rgb(70, 69, 69) ; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.updateForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 10px;



}

.updateForm input{

    width: 90%;
    margin: auto;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    margin-top: 5px;



}

.updateForm button{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0  0 5px 0.2px black;

}

.updateForm button:hover{

    background: #7b10b0;
    cursor: pointer;

}
.updateForm label{

    background-color: rgb(70, 69, 69);

    width: 90%;
    margin: auto;

    text-align: center;
    margin-top: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0  0 5px 0.2px black;

    font-weight: bold;
}

.updateForm label:hover{
    background-color: gray;
}

.updateForm button{
    background-color: rgb(70, 69, 69);
    color: white;
    border-radius: 3px;
    font-size: small;
    padding-top: 8px;
    padding-bottom: 8px;


}

tr:hover{
    background-color: gray;
}


/* massge */

.msgimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.msgimg img{

    height: 200px;
    width: 200px;
    align-self:center;

}

.msgimg h4{
   font-size: x-large;
   width: 50%;
   margin: auto;
   margin-top: 30px;
   background: #bdc3c7;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, gray, black);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, gray, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-weight: bold;
   color: white;
   border-radius: 3px;
   padding-top: 15px;
   padding-bottom:15px;

   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}

.msgimg #welcomeimg{
    width: 702px;
    height: 322px;
}

.msgimg #byeimg{
    width: 346px;
    height: 296px;
}



/* home page imgs  */

.fixedimg{
    display: flex;
    width: 75%;
    margin: auto;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.fixedimg img{
    height: 170px;
    width: 270px;
    border: solid 2px ;
    box-shadow: 0  0 5px 0.2px black;
}

.middleimg{
    margin-right:20px ;
    margin-left: 20px;
}

}






