
@media  (min-width: 767px){
   /* header */
   header{
       position: sticky;
       width: 100%;
       top:0;
       z-index: 1;
       
      
   }

   header nav{
       width: 100%;
       display: flex;
       flex-direction:row;
       justify-content: space-between;
       padding-top: 25px;
       padding-bottom: 25px;

   }
   .logo img{
       margin-left: 15px;
       width: 70px;
       height: 70px;
   }
   .logo{
       display: flex;
       flex-direction:row;
       justify-content: center; 
       align-items: center;
       
   }
   .title{
    display: flex;
    flex-direction:row;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding-right: 70px;

   }

   .title h1{
    text-align: center;
       font-size: 50px;
       font-weight: bolder;
       font-family: 'Caveat', cursive;
   }
       
 
 .hmw{
     display: flex;
       flex-direction:row;
       justify-content: space-between; 
       margin-left: 15px;
 }
 .rl{
        display: flex;
       flex-direction:column;
       justify-content:space-evenly;  
       margin-right: 15px; 
      
 }
 header li{
     padding: 3px 15px;
 }
 .custom-shape-divider-top-1620739521 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -10;  
    
}

.custom-shape-divider-top-1620739521 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}


 /* footer */

 footer{
     display: flex;
     flex-direction: column;
     
     width: 100%;  
     font-size: 20px;
      
     bottom: 0;
     
    
 }
 footer p{
    font-size: 16px;

 }
 .upperFotter{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 15px;  
     z-index: 1;
      
     
 }

 .subDiscription{
     display: flex;    
     
 }
 .fr{
     align-self: center;
     padding-right: 350px;
     font-size: 15px;
     
 }

 main{
    min-height: calc(100vh - 235px);
    width: 80%;
    margin: auto;
    

 }
 .ad{
    display: flex;
}

.rac{
    padding-right: 15px;
}

.rac a{
    padding-right: 15px;
}
.fit{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
footer img:hover{
    transform: scale(2);
}

/* main homepage */

.mainimg{

    width: 100%;
    height: 556px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    
    

}

.mainimg h1{

    font-family: 'Cairo', sans-serif;
    letter-spacing: 3px;

    margin-bottom:50px ;
    padding: 10px;
}


}



