@media  (min-width: 767px){
/* header */
.bnfsgy{
    color: #7b10b0;
}
    header{
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
      color: white;
    }
    header a{
    text-decoration:none ;
   font-size: 22px;
   color: white;
    }
    header a:hover {
        
        color: #7b10b0;
      }
    .custom-shape-divider-top-1620739521 .shape-fill {
        fill: #000000;
        
    }
    
    /* footer */
    footer{
        color: white;
        background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    footer a{
        color: white;
    }
    footer a:hover{
        color: #7b10b0;
    }
    

}
