<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoSim Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <%- include('../layout/header') %>
    <main>
        <div class="backgroundMain">
            <h1>What is CryptoSim :A web application project that allows you to simulate investment in cryptocurrency .</h1>
        </div>
        <div class="mainNews">
            <ul class="firstNews">
                
            </ul>
            <ul class="restNews">

            </ul>
            <button id="newButton">More News</button>
        </div>
        <div class="mainCoins">
            <ul>

            </ul>
        </div>
    </main>
    <%- include('../layout/footer') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>