<footer>

    <div class="upperFotter">
        
        <div class="subDiscription">
            <p>
                Welcome to Crypto<span class="bnfsgy">$</span>im best place to buy and sell cryptocurrency without any
                worries.
                <br>
                <br>
                Start free simulate investing in cryptocurrency without any worries, register now

            </p>

        </div>
        <div class="fr">

            <h1>&copy; Crypto<span class="bnfsgy">$</span>im 2021</h1>
        </div>

        <div class="ad">

            <div class="rac">
                <a href="/register" class="rlwHideandShow">Register Now</a>
                <a href="/about">About Us</a>

            </div>


            <div class="contact">
                <h3>Contact Us</h3>

                <div class="fit">
                    <a href="https://www.facebook.com/"><img src="/assets/img/facebook.png" alt="" height="20px"
                            width="20px"></a>
                    <a href="https://twitter.com/"><img src="/assets/img/twitter.png" alt="" height="20px"
                            width="20px"></a>
                    <a href="https://www.instagram.com/"><img src="/assets/img/instagram.png" alt="" height="20px"
                            width="20px"></a>
                </div>
            </div>

        </div>



    </div>


</footer>