<header>
    <nav>
        <div class="logo">
            <a href="/"><img src="/assets/img/logo4-crop.png" alt=""></a>
            <ul class="hmw">
                <li><a href="/">Home</a></li>
                <li><a href="/market">Market</a></li>
                <li><a li class="wallet">Wallet</a></li>
            </ul>
        </div>

        <ul class="rl">

            <li class="rlwHideandShow"><a href="/register">Register</a></li>
            <li class="rlwHideandShow"><a href="/login">Login</a></li>
            <li> <a class="username"></a></li>
            <li class="logout"> <a href="/logout">Logout</a></li>

        </ul>

    </nav>
</header>