<header>
    <nav>
        <div class="logo">
            <a href=""><img src="/assets/img/logo4-removebg.png" alt="" height="100px" width="100px"></a>
            </div>
            <div class="navlist">
                <ul>
                    <li><a href="/"></a>Home</li>
                    <li><a href="/market">Market</a></li>
                    <li class="rlwHideandShow"><a href="/wallet"></a>Wallet</li>
                    <div>
                    <li class="rlwHideandShow"><a href="/register"></a>Register</li>
                    <li class="rlwHideandShow"><a href="/login"></a>login</li>
                    <li class="username"></li>
                </div>
                </ul>
            </div>
    </nav>
</header>