<header>
    <nav>
        <div class="logo">
            <a href="/"><img src="/assets/img/logo4-crop.png" alt="" width="50px" height="50px"></a>
        </div>
        <div class="navlist">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/market">Market</a></li>
                <li><a li class="wallet">Wallet</a></li>
                <div>
                    <li class="rlwHideandShow"><a href="/register">Register</a></li>
                    <li class="rlwHideandShow"><a href="/login">Login</a></li>
                    <li> <a class="username" ></a></li>
                    <li class="logout"> <a href="/logout">Logout</a></li>

                </div>
            </ul>
        </div>
    </nav>
</header>